/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: grey;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: lightgrey;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: indianred;
  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    
}


.image-container{
    position: relative;
}

.row {
    
}